
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice Details List</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }

        th {
          padding: 10px;
          width: 150px;
        }

        tr:first-child {
          background: #add8e6;
          color: white;
        }

        tr {
          background-color: #70f58580;
        }

        tr:hover{
           box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
           cursor: pointer;
        }

        td {
          padding: 10px;
        }
    </style>
</head>
<body>
<h2>Invoice Details</h2>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>Receipt</th>
        <th>Products</th>
        <th>Unit Price</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="det: ${receiptDetails}">
        <th th:text="${det.id}"></th>
        <th th:text="${det.receipt}"></th>
        <th th:text="${det.product}"></th>
        <th th:text="${det.unit_price}"></th>
        <th th:text="${det.quantity}"></th>
    </tr>
</table>
</body>
</html>
